@media(max-width: 599.9px){
	#feedback-btn{display: none;}
}

@media(max-width: 899.9px) and (min-width: 600px){
	#feedback-btn{
		position: fixed;
		background-color: rgba(20,160,152, 1);
		bottom: 150px;
		left: -55px;
		border-bottom-right-radius:20px; 
		border-bottom-left-radius:20px;
		color: white;
		font-size: 17px;
		padding: 20px 20px 8px 20px;
		transform: rotate(-90deg);
		letter-spacing: .5px;
		cursor: pointer;
	}

	#feedback-btn:hover{
		background-color: #118982;
		transition-duration: .3s;
	}
}
@media(min-width: 900px){
	#feedback-btn{
		position: fixed;
		background-color: rgba(20,160,152, 1);
		bottom: 150px;
		left: -55px;
		border-bottom-right-radius:20px; 
		border-bottom-left-radius:20px;
		color: white;
		font-size: 17px;
		padding: 20px 20px 8px 20px;
		transform: rotate(-90deg);
		letter-spacing: .5px;
		cursor: pointer;
	}

	#feedback-btn:hover{
		background-color: #118982;
		transition-duration: .3s;
	}

	#feedback-btn{
		transition:
		opacity .5s, visibility .5s;
		opacity: 0;
		visibility: hidden;
	}

	#feedback-btn.show {
		opacity: 1;
		visibility: visible;
	}
}

#feedback-overlay{
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: rgba(0,0,0,.4);
	z-index: 99;
}

.overlayEscape{
	width: 100vw;
	height: 100vh;
	cursor: pointer;
}

#feedback-overlay form{
	position: fixed;
	padding: 40px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	width: 80vw;
	max-width: 720px;
	background-color: white;

	display: flex;
	flex-direction: column;
}

#feedback-overlay form h2{
	margin-top: 0px;
	color: #118982;
}

#feedback-overlay form textarea{
	font-family: inherit;
	font-size: 15px;
	height: 150px;
	padding: 20px;
	box-sizing: content-box;
	resize: vertical;
}

#feedback-overlay form input[type = submit]{
	cursor: pointer;
	width: 200px;
	margin: 10px 0px 0px 0px;
	padding: 9px 0px;
	font-size: 16px;
	color: white;
	border: none;
	background-color: rgba(20,160,152, 1);
	/*transition-duration: .3s;*/
	transition-property: background-color;
}

#feedback-overlay form input[type = submit]:hover{
	background-color: #118982;
}